<div class="row">
	<div class="col-md-3 height_100 left_side" style="background: #F1F1F1;">
		<div class="add_menu">Add menu</div>
		<div ng-repeat="item in food">
			<div ng-repeat="(key, value) in item track by $index">
				<div ng-click="show_[$index] = !show_[$index]" class="card list_style icon">{{key}}  
					<span ng-class=" show_[$index] ? 'icon-down' : 'icon-up' "></span>
				</div>
				<ul ng-show="show_[$index]" ng-repeat="(ke, va) in value">
					<li ng-repeat="(k, v) in va" ng-click="showItem(v)" class="card list_style">{{k}}</li>
				</ul>
			</div>
		</div>
		<div><button class="btn btn-default" ng-click="addTable()">Add Table</button></div>
	</div>
	<div class="col-md-9 height_100 right-side">
			
			<div class="col-md-12 card row restaurant_card">
				<div>{{dataset.restaurentName}}</div>
				<div> Location : {{dataset.location}}</div>	
				<div> cuisine : {{dataset.cuisine}}</div>
				<div>cost for two : {{dataset.costForTwo}}</div>
				<div>Table Count: {{dataset.tableCount}}</div>
				<div>{{dataset.type}}</div>
			</div>

			<div class="col-md-12 card row" ng-show="selectedType.length">
				<ul>
					<li ng-repeat="s in selectedType">
						<span>{{s.name}}</span>
						<span>{{s.price}}</span>
					</li>
				</ul>
			</div>
	</div>
</div>
