<div style="position:absolute; height:100vh; width:100vw;">
	     <div style="height:10vh; width:100vw; background-color:#CE1E42;"><img src="image/icon.png" alt="logo" class="header_icon"></div>
	     <div style="height:90vh; background-image:url(image/img.jpg); background-size:cover; background-position:center; ">
			<div style="height:20vh; border:1px solid rgba(0,0,0,0);">
				<h1 style="color:white; text-align:center">FancyMonk</h1>
			</div>
			<div style="height:30vh; background-color:rgba(0,0,0,.3); padding-top:20vh">
				<div style="margin-left:25%;">
					<button type="button" class="btn btn-default login_button" ng-click="login()">login</button>
					<button type="button" class="btn btn-default login_button" ng-click="signUp()">sing up</button>
				</div>
			</div>
	     </div>
</div>